"*":
  core:
    projectHome: "/home/mshevelev/git"
  editor:
    fontSize: 20
    preferredLineLength: 120
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "48dadbd0-b88e-4f55-b5eb-553071eeeba3"
