[user]
	name = Mikhail Shevelev
	email = shevelev.mikhail@gmail.com
[color]
  ui = true
[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
  branch = magenta
[core]
  editor = vim
  excludesfile = /home/mshevelev/.gitignore_global
  autocrlf = input
[push]
  default = simple
[alias]
  st = status
  plog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[init]
	defaultBranch = master
[pull]
	rebase = false
